body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.tittle {
  margin-top: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-address-item {
  display: flex;
}

.header-address {
}

.header-cont {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 131px;
}

.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.list {
  display: flex;
  gap: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link:hover {
  color: #404bbf;
}

.header-link:focus {
  color: #404bbf;
}

.header-nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-nav:hover {
  color: #404bbf;
}

.header-nav:focus {
  color: #404bbf;
}

.header-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero {
  background-color: #2e2f42;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-tittle {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.btn-hero {
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-hero:is(:hover, :focus) {
  background-color: #404bbf;
}

.strategy {
  padding-top: 120px;
  padding-bottom: 120px;
}

.strat-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.strat-list {
  gap: 24px;
  justify-content: center;
}

.strat-list-item {
  max-width: 264px;
}

.strat-p {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.what {
  padding-bottom: 120px;
}

.what-tittle {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.what-list {
  gap: 24px;
  justify-content: center;
}

.what-list-item {
}

.team {
  background-color: #f4f4fd;
  padding-bottom: 120px;
}

.team-list-tittle {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-tittle {
  padding-top: 120px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-text {
  margin-top: 32px;
  margin-bottom: 32px;
}

.team-list {
  justify-content: center;
  gap: 24px;
}

.team-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-p {
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
}

.studio-footer {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: #f4f4fd;
}

.footer-cont {
  max-width: 264;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-p {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
  color: #e7e9fc;
}

.btn-list {
  justify-content: center;
  gap: 24px;
  padding-top: 96px;
  margin-bottom: 72px;
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 120px;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: 360px;
  height: 420px;
  border: 1px solid #e7e9fc;
}

.portfolio-btn:is(:hover, :focus) {
  color: #f4f4fd;
  background-color: #404bbf;
}

.portfolio-text {
  margin-top: 32px;
  font-weight: 500;
  margin-left: 16px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-p {
  font-weight: 400;
  margin-top: 8px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.meditation-tittle {
  letter-spacing: 0.02em;
}
